<body>
    <div style="margin-left: auto; margin-right: auto; width: 50%;">

        <table cellpadding="5" cellspacing="5" style="color:aliceblue; font-size: xx-large;">
    
                  
     <thead>
          <tr>
                          <td colspan="2" rowspan="4"> <h2 style="text-align:center;"> Flights</h2></td>
           </tr>
     </thead>
     <tbody>
      
           <tr>
                 <td><label><b>From</b></label></td>
                 <td> <input type="text" name="From" id="from"></td>
           </tr>
           <tr>
                  <td> <label for="fn"> <b>To</b></label></td>
                  <td> <input type="text" name="To" id="to"> </td>
           </tr>
           <tr>
            <td>
                <label> <b>Date</b></label>
            </td>
            <td>
                <input type="date" name="Date" id="Date">
            </td>
        </tr>
            <tr>
                  <td colspan="2"> <button>Search</button></td>
            </tr>
    </tbody>
</table>
</div>
<div class="flights">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    
    <main id="carousel">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      
    </main>
</div>
  
    
  
    
</body>
    