<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  
</head>
<body>
    <div class="input-icons" style="margin-left: auto; margin-right: auto; width: 50%;">

        <table cellpadding="5" cellspacing="5" style="color:aliceblue; font-size: xx-large;">
    
                
     <thead>
          <tr>
                          <td colspan="2" > <h2 style="text-align:center;"> Buses</h2></td>
           </tr>
     </thead>
     <tbody>
      
           <tr>
                 <td><label> <b>From</b></label></td>
                 <td> <input  type="text" name="From" id="from" > </td>
           </tr>
           <tr rowspan="3">
               <td colspan="2"></td>
           </tr>
           <tr>
                  <td> <label ><b>To</b></label></td>
                  <td> <input type="text" name="To" id="to"> </td>
           </tr>
           <tr>
               <td>
                   <label> <b>Date</b></label>
               </td>
               <td>
                   <input type="date" name="Date" id="Date">
               </td>
           </tr>
           <tr>
             <td> <label ><b>Bus Type</b></label></td>
             <td>  
                 <select name="Bustype" id="bustype">
                <option value="Luxury">Luxury</option>
                <option value="Garuda">Garuda</option>
                <option value="Garuda Plus">Garuda Plus</option>
                <option value="Mini bus">Mini Bus</option>
              </select>
             </td>
            </tr>
            <tr>
                  <td colspan="2"> <button>Search</button></td>
            </tr>
            

    </tbody>
</table>
</div>


<br>
<div class="Buses">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <main id="carousel">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </main>
</div>
  
    
  </body>