<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</head>
<body style="background-color: rgb(26, 131, 115);">
    <div><h2>Kerala</h2></div>
    <div class="card-deck">
        <div class="card bg-info text-white " style="width: 200px; height: 500px;">
            
            <div class="card-body" id="alpy-img">
     
                <div class="card-title"> alleppy(Alappuzha Beach)</div>
            </div>
            <div class="card-footer">Price:10000</div>
        </div>
        <div class="card bg-warning text-white" style="width: 200px; height: 450px;">
            
            <div class="card-body" id="cochin">
     
                <div class="card-title"> cochin(Kerala Folklore Museum)  </div>
                </div>
            <div class="card-footer">Price:8000</div>
        </div>
        <div class="card bg-danger text-white" style="width: 200px; height: 500px;">
            
            <div class="card-body" id="vagamon">
     
            <div class="card-title"> (Vagamon hill)</div>
            </div>
            <div class="card-footer">Price:7000</div>
        </div>
        <div class="card bg-success text-white" style="width: 200px; height: 500px;">
            
            <div class="card-body" id="Kizhunna">
     
                <div class="card-title">Kizhunna-beach</div>
                
             </div>
            <div class="card-footer">Price:6000</div>
        
        </div>
    </div>
    
            
    
</body>
</html>
 
